<div class="container my-5">
  <form class="row justify-content-center" action="/records/{{record._id}}?_method=PUT" method="POST">
  {{!-- name --}}
    <div class="form-row col-12 justify-content-center mb-5">
      <label class="align-center col-2 text-center" for="name">名稱:</label>
      <input class="form-control col-4" name="name" id="name" value="{{record.name}}" equired>
    </div>
  {{!-- date --}}
    <div class="form-row col-12 justify-content-center mb-5">
      <label class="align-center col-2 text-center" for="date">日期:</label>
      <input type="date" class="form-control col-4" name="date" id="date" value="{{record.date}}" equired>
    </div>
  {{!-- category --}}
  <div class="form-row col-12 justify-content-center mb-5">
    <label class="align-center col-2 text-center" for="category">類別:</label>
    <select class="custom-select col-4" name="category" id="category">
      <option value="living" {{#ifEqual record.category 'living'}}selected{{/ifEqual}}>家居物業</option>
      <option value="traffic" {{#ifEqual record.category 'traffic'}}selected{{/ifEqual}}>交通出行</option>
      <option value="entertainment" {{#ifEqual record.category 'entertainment'}}selected{{/ifEqual}}>休閒娛樂</option>
      <option value="food" {{#ifEqual record.category 'food'}}selected{{/ifEqual}}>餐飲食品</option>
      <option value="others" {{#ifEqual record.category 'others'}}selected{{/ifEqual}}>其他</option>
    </select>
  </div>
  {{!-- amount --}}
  <div class="form-row col-12 justify-content-center mb-5">
    <label class="align-center col-2 text-center" for="amount">金額:</label>
    <input type="number" step="1" class="form-control col-4" name="amount" id="amount" value="{{record.amount}}" equired>
  </div>
  <div class="row col-12 justify-content-center mb-5">
    <div class="col-2"></div>
    <button type="submit" class="btn btn-outline-info col-4 d-block">儲存</button>
  </div>
  </form>
</div>